<div class="container">
    <video autoplay loop muted plays-inline class="back-video">
        <source src="./videos/Home-video.mp4" type="video/mp4">
    </video>
    <nav>
        <div class="logo">
            <img src="./images/logo.jpg" alt="logo">
        </div>
        <input type="checkbox" id="check">
        <label for="check" class="menu-bar">
            <i class="fa-solid fa-bars" id="menu-bar"></i>
            <i class="fa-solid fa-x" id="close-icon"></i>
        </label>
        <div class="nav-links">
            <ul>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <h1>Welcome To Nokukhanya's Portfolio</h1>
        <p>I create beautiful, responsive websites that drive results.</p>
        <p class="brief">I'm a Passionate web developer, creating engaging websites. My expertise lies in front-end
            development, <br>with a focus on creating clean, efficient websites to bring ideas to life.</p>
        <div class="hire-me">
            <a routerLink="/contact">Hire Me</a>
        </div>
    </div>
</div>

<section class="bio">
    <div class="bio-container">
        <div class="bio-info">
            <h1>Nokukhanya Zwane</h1>
            <p>Passionate about crafting ideas into functional websites. I am an aspiring web developer on the journey
                to turn ideas into reality. With a foundation in HTML, CSS, and JavaScript, I am continuously expanding
                my skills to create user-friendly websites.</p>
        </div>
        <div class="bio-image">
            <img src="./images/Bio2.png" alt="bio-image">
        </div>
    </div>
    <div class="services">
        <h2><i class="fa-solid fa-code"></i>Services</h2>
        <p>I offer comprehensive web development solutions tailored to meet your specific needs. Let's collaborate to
            bring your ideas to life and elevate your online presence to new heights.</p>
        <div class="services-container">
            <div class="services-box">
                <div class="icons">
                    <i class="fa-solid fa-terminal"></i>
                </div>
                <h3>Web Development</h3>
                <p>Designing and building websites using HTML, CSS, and JavaScript.</p>
            </div>
            <div class="services-box">
                <div class="icons">
                    <i class="fa-solid fa-laptop-code"></i>
                </div>
                <h3>Web Design</h3>
                <p>Designing the visual layout and elements of a website to enhance user experience.</p>
            </div>
            <div class="services-box">
                <div class="icons">
                    <i class="fa-solid fa-mobile-screen"></i>
                </div>
                <h3>Responsive Design</h3>
                <p>Creating websites that adapt and look good on various devices and screen sizes.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="quick-links">
        <div class="socials">
            <ul>
                <li><a href="https://www.instagram.com/khanyi.nz" target="_blank">
                        <i class="fa-brands fa-square-instagram"></i></a></li>
                <li><a href="https://linkedin.com/in/nokukhanya-zwane" target="_blank">
                        <i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/khanyansa" target="_blank">
                        <i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
        <div class="contact-info">
            <ul>
                <li><i class="fa-solid fa-phone"></i>+27727220146</li>
                <li><i class="fa-solid fa-envelope"></i>khanyizwane.nsa&#64;gmail.com</li>
            </ul>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18..." width="600" height="450" style="border:0;"
                allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</footer>

